@{
    Layout="Shared/_Layout.cshtml";
}
<h1>@stylists.GetName()</h1>
<h2>@stylists.GetName() specializes in: @stylists.GetSpecialty().</h2>
<h2>@stylists.GetName() has been with us for @stylists.GetExperience() years.</h2>

<h2>Here are all the clients in this stylist:</h2>

@if (@Model["clients"].Count == 0)
{
  <p>No clients have been added yet!</p>
}
else
{
  <ol>
    @foreach (var client in @Model["clients"])
    {
      <a href='/client/@clients.GetId()'><li>@clients.GetName()</li></a>
    }
  </ol>
}

<!-- Add if there is time for deleting a stylist functionality -->
<!-- <form action='/stylist/delete/@Model["stylists"].GetId()' method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">Delete this stylist</button>
</form>

<p><a href='/stylist/edit/@Model["stylists"].GetId()'class="links">Update this stylist's information</a></p> -->
<p><a href="/clients/new">Add a new client</a></p>
<p><a href="/">Return to Main Page</a></p>
