@{
    Layout="Shared/_Layout.cshtml";
}
<h1>Stylist Name: @Model["stylist"].GetName()<img src="../Content/pony3.png" alt="pony picture" class="icon"/></h1>
<h2>@Model["stylist"].GetName()'s specialty: @Model["stylist"].GetSpecialty()</h2>
<h2>@Model["stylist"].GetName()'s years of experience: @Model["stylist"].GetExperience()</h2>

<h2>Here are all the clients who see @Model["stylist"].GetName():</h2>

@if (@Model["clients"].Count == 0)
{
  <h4>No clients have been added yet!</h4>
}
else
{
  <ol>
    @foreach (var client in @Model["clients"])
    {
      <a href='/client/@client.GetId()'><li>@client.GetName()</li></a>

    }
  </ol>
}

<form action='/stylist/delete/@Model["stylist"].GetId()' method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit" class="btn clearish">Delete this stylist</button>
</form>
<p><a href='/stylist/edit/@Model["stylist"].GetId()'class="links">Update this stylist's information</a></p>
<p><a href="/clients/new">Add a new client</a></p>
<p><a href="/">Return to Main Page</a></p>
